*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 60px;
}
.dm-duck{
  width: 60px;
} 

@media (max-width:991px){
  #offcanvasExample{
    width: 100%;
  }
}

@media (min-width:992px){
  #offcanvasExample{
    width: 50%;
  }
}